<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> My CV App</title>
</head>

<body>
  <header id="header">
    <div class="header-name">
      <h1>KEHINDE OGUNYELE </h1>
    </div>
  </header>

  <div>
    <div>
      <h1 class="heading"> About Me </h1>
      <p>I'm a professional bassist and an enthusiastic Front end developer eager to contribute to team success
        through hard work, attention to detail and excellent organizational skills. Motivated to learn, grow and
        excel.
        Also a dynamic team player when interfacing with other staff members, vendors and end-users.</p>
    </div>


    <div>

      <h2 class="heading"> Work Experience (Internship) </h2>
      <p><b>Information and Communication Technology Recourse Center - ICTREC FUNAAB, ABEOKUTA - Ogun State</b> <br />
        <i>September 2019 to March 2020</i>
      </p>

      <ul>
        <li>Performed day-to-day LAN and WAN administration, maintenance and support.</li>

        <li>Configured networks for smooth, reliable operation to meet business processes and objectives.</li>

        <li>Identified and immediately resolved issues with network devices.</li>

        <li>Maintained network hardware and software and monitored network to support network availability to
          end users.</li>

        <li>Installed, configured and supported Local Area Network (LAN), Wide Area Network (WAN) and Internet
          system.
        </li>

      </ul>
    </div>

    <div>
      <h2 class="heading">Education</h2>

      <p> <b>Bachelor of Science: Mathematics <br />
          Federal University of Agriculture Abeokuta - Ogun State</b> <br />
        <i>March 2017 to October 2021</i>
      </p>
    </div>

    <div>
      <h2 class="heading"> Contact Information </h2>
      <p> <b>Address:</b> Surulere, Lagos <br />
        <b>Email:</b> <a href="kwitt.olawale@gmail.com"> kwitt.olawale@gmail.com</a> <br />
        <b>Phone Number:</b> 08135976730 <br />
      </p>
    </div>
  </div>
</body>

</html>
